<h1><%= @house.name %></h1>
<h2>Seated in: <%= @house.seat %></h2>
<main>

  <img src="<%= @house.coat_url %>">
<ul>
<% @house.characters.each do |name| %>
<li><%= link_to name.name, house_characters_path(@house) %></li>


<% end %>
<%#= link_to "(+)", new_house_character_path %>
</ul>
</main>
<h2><%= link_to "Edit this House", edit_house_path %>
</h2>


<%= form_for ([@house, @house.characters.build]) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>


<%= f.radio_button(:alive, true) %>
<%= label_tag(:alive, "Alive") %>
<%= f.radio_button(:alive, false) %>
<%= label_tag(:alive, "Dead") %>



<% f.text_field :house_id%>

<%= f.submit %>
<% end %>
